$primary-color: #007bff;
$tag-bg: #f0f0f0;
$tag-text: #333;
$transition-speed: 0.3s;

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.accordion {
  &-item {
    border-bottom: 1px solid #ddd;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 36px 0;

    h5 {
      margin: 0;
      font-weight: 700;
      font-size: x-large;
    }

    img {
      width: 20px;
      transition: transform $transition-speed ease;
    }
  }

  &-content {
    padding: 1em 0;
    border-top: 1px solid #eee;

    .session {
      margin-bottom: 20px;

      .time {
        font-weight: bold;
        color: $primary-color;
      }

      h3 {
        margin: 5px 0;
      }

      p {
        margin: 5px 0;
        line-height: 1.5;
      }

      .tags {
        margin-top: 8px;

        .tag {
          display: inline-block;
          background-color: $tag-bg;
          color: $tag-text;
          padding: 4px 8px;
          margin-right: 5px;
          border-radius: 4px;
          font-size: 0.85em;
        }
      }
    }
  }
}
