<section class="section">
  <div class="container">
    <div class="slider" role="region" aria-label="carousel">
      <div class="slider-mask">
        <div
          class="slide"
          *ngFor="let slide of slides; let i = index"
          [class.active]="i === currentSlide"
          [attr.aria-label]="'Slide ' + (i + 1) + ' of ' + slides.length"
          role="group"
          [attr.aria-hidden]="i !== currentSlide"
        >
          <img [src]="slide.src" [alt]="slide.alt" class="slider-image" />
          <div class="slider-foot">
            <!-- <div>Previous conference</div> -->
            <div class="slider-load-track">
              <div
                class="slider-load-progress"
                [style.width.%]="i === currentSlide ? 100 : 0"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <button class="left-arrow" (click)="prevSlide()">&#9664;</button>
      <button class="right-arrow" (click)="nextSlide()">&#9654;</button>

      <div class="slide-info">
        Slide {{ currentSlide + 1 }} of {{ slides.length }}
      </div>
    </div>
  </div>
</section>
