<div class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="/" class="logo-link">
        <img
          src="https://cdn.prod.website-files.com/67061df890aa3a22852e80c7/67061df890aa3a22852e80da_logo.png"
          alt="Event Logo"
          width="194"
        />
      </a>
      <div class="event-info">
        <div class="event-date">November 8–9</div>
        <div class="event-format">Live and Virtual</div>
      </div>
    </div>

    <div class="footer-content">
      <nav class="footer-nav">
        <a href="#About" class="nav-link">About</a>
        <a href="#Schedule" class="nav-link">Schedule</a>
        <a href="#Speakers" class="nav-link">Speakers</a>
        <a href="#Pricing" class="nav-link">Pricing</a>
        <a href="#FAQ" class="nav-link">FAQ</a>
      </nav>

      <div class="social-icons">
        <a href="http://facebook.com" target="_blank" class="social-icon">
          <img
            src="https://cdn.prod.website-files.com/67061df890aa3a22852e80c7/67061df890aa3a22852e8103_Facebook.svg"
            alt="Facebook"
          />
        </a>
        <a href="http://instagram.com" target="_blank" class="social-icon">
          <img
            src="https://cdn.prod.website-files.com/67061df890aa3a22852e80c7/67061df890aa3a22852e8104_instagram-logo.svg"
            alt="Instagram"
          />
        </a>
        <a href="http://twitter.com" target="_blank" class="social-icon">
          <img
            src="https://cdn.prod.website-files.com/67061df890aa3a22852e80c7/67061df890aa3a22852e8105_social-media-social-media-logo-twitter.svg"
            alt="Twitter"
          />
        </a>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-branding">
        <span class="small-text">Powered by</span>
        <a href="#" class="powered-by-logo">
          <img
            src="https://cdn.prod.website-files.com/67061df890aa3a22852e80c7/67061df890aa3a22852e8107_webflow%20logo.svg"
            alt="Webflow"
          />
        </a>
        <span class="small-text"
          >Designed by <a href="http://junostudio.design">Juno</a></span
        >
      </div>

      <div class="footer-links">
        <a href="/template/licensing" class="footer-link">Licensing</a>
        <a href="/template/styleguide" class="footer-link">Styleguide</a>
        <a href="/template/instructions" class="footer-link">Instructions</a>
        <a href="/template/changelog" class="footer-link">Changelog</a>
      </div>
    </div>
  </div>
</div>
