@import "./assets/Styles/light-theme.css";
@import "./assets/Styles/dark-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
